.advanced{
    position: relative;
    text-align: center;
    margin-top: 2em;
    color: hsl(255, 11%, 22%);
    font-weight: 700;
    background-color: hsl(0, 0%, 75%); 
    h4{
        width: 50%;
        text-align: center;
        margin: .5em auto 0 auto;
    }
}