
.Box{
    padding: 2em;
    width: 80%;
    margin: 2em auto 0 auto;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    position: relative;
    transition: all .2s ease-in ;
    .isClicked{
        background-color: purple !important;
        transition: all .2s ease-in;
    }
    
    .cross{
        position: absolute;
        top: 1em;
        right: 1em;
        border: none;
        background-color: transparent;
        &:hover{
            cursor: pointer;
        }
    }
    hr{
        display: none;
    }
    .right-side{
        margin-left: auto;
        display: flex;

        h2{
            margin-right: 1em;
            margin-top: auto;
            margin-bottom: auto;
            color:hsl(180, 66%, 49%);
        }
        button{
            padding: 1em 2em;
            border-radius: 12px;
            border:none;
             background-color:  hsl(180, 66%, 49%);
            color: white;
            &:hover{
                cursor: pointer;
                transition: all .2s ease-in;
                background-color: hsl(180, 98%, 52%);
            }
        }
    }
}


@media only screen and (max-width: 1200px) {

    .Box{
        display: flex;
        flex-direction: column;
        font-size: .7em;
        hr{
            margin-top: 1em;
            display: flex;
        }
        .right-side{
            display: flex;
            flex-direction: column;
            width: 100% !important;
            h2{
                  margin-top: 1em; 
            }
            button{
                width: 100% !important;
                margin: .7em auto 0 auto !important;
              }
        }
    }

}