.shorten-box{
    background-color: purple;
    padding: 1em;
    width: 80%;
    margin: 2em auto 0 auto;
    border-radius: 8px;
    .text-input{
        width: 70%;
        padding: .5em .3em;
        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: red;
            opacity: 1; /* Firefox */
          }
    }

    .text-button{
        width: 21%;
        margin-left: 3%;
        padding: .5em .3em;
        border-radius:8px;
        border: none;
    }
}


